$main: hsl(350, 100%, 40%);
$active: hsl(350, 100%, 50%);
$black: hsl(350, 1%, 3%);
$dark: hsl(350, 1%, 7%);
$grey: hsl(0, 0%, 90%);

$notfound: hsl(350, 1%, 15%);

$steam: hsl(205, 90%, 25%);
$steamActive: hsl(205, 85%, 40%);

$widthLimit: 600px;
$minWidth: 200px;

$padding: 25px;

$navbarHeight: 75px;

//Links
$IMG-ROOT: "../assets/Images/";
$GHVR-Logo: $IMG-ROOT + "Green_Hell_VR.webp";
